In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/mohit/.local/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: tzdata>=2022.1 in /home/mohit/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mohit/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Introduction to pandas

In [4]:
import pandas as pd
# find the version of pandas
pd.__version__

'2.0.3'

# Pandas Series Object

In [5]:
data=pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
# series is a one-dimensional array of indexed data.it can be created from a list or array as follows
# padas works on dictionary mostly

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data[1]

0.5

In [11]:
data[0]

0.25

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [13]:
# set index for pandas series
data=pd.Series([0.25,0.5,0.75,1.0],index=list('abcd'))
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [14]:
data['b']

0.5

In [15]:
data['d']

1.0

# Series as specified Dictionaries

In [17]:
pc={'India':1452334452,
   'china':1432423234,
   'texas':264481934,
   'florida':12345432}
pop=pd.Series(pc)
pop

India      1452334452
china      1432423234
texas       264481934
florida      12345432
dtype: int64

In [18]:
pop['India']

1452334452

In [19]:
pop['India':'texas']

India    1452334452
china    1432423234
texas     264481934
dtype: int64

# constructing Series objects

In [20]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [21]:
pd.Series(5,index=[10,20,30]) # 5 will repeat as many times as index is there

10    5
20    5
30    5
dtype: int64

In [22]:
pd.Series({'a':2020,'b':2021,'c':2022,'d':2023,'e':2024})

a    2020
b    2021
c    2022
d    2023
e    2024
dtype: int64

In [27]:
pd.Series({'a':2020,'b':2021,'c':2022,'d':2023,'e':2024},index=['a','b'])

a    2020
b    2021
dtype: int64

In [29]:
import numpy as np
s=pd.Series(np.arange(15))
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [30]:
s.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [31]:
s.tail()

10    10
11    11
12    12
13    13
14    14
dtype: int64

In [32]:
s.min()

0

In [33]:
s.max()

14

In [34]:
len(s)

15

In [36]:
s.is_unique

True

In [37]:
s.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [38]:
s.index

RangeIndex(start=0, stop=15, step=1)

In [39]:
s.mean()

7.0

In [40]:
s.std()

4.47213595499958

In [41]:
s.median()

7.0

In [42]:
s.mode()

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [46]:
np.add.reduce(s)

105

In [47]:
sum(s)

105

In [51]:
np.product(s)

0

In [56]:
data=[{'a':i,'b':i**3}for i in range(4)]
pd.Series(data)

0     {'a': 0, 'b': 0}
1     {'a': 1, 'b': 1}
2     {'a': 2, 'b': 8}
3    {'a': 3, 'b': 27}
dtype: object

In [57]:
pd.DataFrame(data)

   a   b
0  0   0
1  1   1
2  2   8
3  3  27